/*index ภาพรวม*/
.index {
    text-align: center;
}

/*the otis*/
.logo {
    margin: 10px;
    color: rgb(231, 225, 165);
}

/*แท็บบน*/
.navbar {
    background-color: rgba(87, 131, 91, 0.707);
    height: 100px;
}

/*nav-item*/
.nav-item {
    font-size: 35px;
}

/*หมวดหมู่*/
.dropdown {
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
}

/*ตัวเลือก*/
.dropdown-item {
    font-size: 25px;
}

/*search*/
.form-control {
    margin: auto;
}

.btn {
    margin: 10px;
    background-color: rgb(239, 220, 195);
}

.button {
    font-size: 15px;
    color: black;
    text-decoration: none;
}

/*สไลด์*/
.slide {
    width: 600px;
    height: 600px;
    display: inline-block;
    margin: 20px;
}

/*รูปสไลด์*/
.d-block {
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 45px;
}

/*ภาพรวมการ์ด*/
.group {
    margin: 60px;
    padding: 100px;
    border-radius: 45px;
}

.pho:hover {
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0);
}

/*หมวดหมู่*/
.cate {
    color: rgb(43, 70, 45);
    font-size: 40px;
    margin: 50px;
    margin-top: -100px;
}

.sone {
    margin-top: 40px;
}

.cate1 {
    color: rgb(43, 70, 45);
    font-size: 25px;
}

.fic {
    text-decoration: none;
}

/*card*/
.card {
    text-align: center;
    box-shadow: 0 12px 16px 0 rgb(0, 0, 0);
}

/*รูปในการ์ด*/
.card-img {
    height: 200px;
}

/**/
.text {
    text-decoration: none;
    color: black;
}

/*ส่วนท้าย*/
.footer {
    background-color: rgba(87, 131, 91, 0.707);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 20px;
    margin-top: 100px;
}