/*index ภาพรวม*/
.index {
    text-align: center;
}


/*the otis*/
.logo {
    margin: 10px;
    color: rgb(231, 225, 165);
    font-size: 30px;
    width: 100px;
}

/*แท็บบน*/
.navbar {
    background-color: rgba(87, 131, 91, 0.707);
    height: 100px;
}

/*nav-item*/
.nav-item {
    font-size: 35px;
}

/*ชื่อผู้ใช้*/
.mt-6 {
    text-align: right;
}

.btn {
    float: right;
    width: 50px;
    height: 25px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.464);
}

.text {
    font-size: 20px;
    margin-left: -10px;
    margin-top: -10px;
}

/*สไลด์*/
.slide {
    width: 600px;
    height: 600px;
    display: inline-block;
    margin: 20px;
}

/*รูปสไลด์*/

.d-block {
    width: 600px;
    height: 600px;
    margin: auto;
    border-radius: 45px;
}

/*ตัวหนังสือนิยาย*/
.cate{
    font-size: 40px;
    margin: 50px;
    margin-top: -10px;
    text-align: center;
}


/*ส่วนนิยาย*/
.box:hover{
    margin: -30px;
    padding: 15px;
    display: inline-block;
    text-align: center;
    margin-left: 100px;
    padding: 10px;
    margin-top: 70px;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.858);
    border-radius: 10px;
}
/**/
.title{
    font-size: 20px;
    text-decoration: none;
}
/**/
.boxcol{
    width: 110px;
    text-align: center;
    border-radius: 10px;
}
.card{
    width: 130px;
    display: inline-block;
    margin-left: -10px;
    border: solid rgb(0, 0, 0);
    margin-top: -10px;
}

/*ส่วนท้าย*/
.footer {
    background-color: rgba(87, 131, 91, 0.707);
    text-align: center;
    color: rgb(0, 0, 0);
    padding: 20px;
    font-size: 20px;
    margin-top: 200px;
}